<owl-carousel-o [options]="mainOptions">
  <ng-template carouselSlide>
    <img src="/images/ms-1.avif" alt="amazon-pay" class="w-full" />
  </ng-template>
  <ng-template carouselSlide>
    <img src="/images/ms-2.avif" alt="amazon-pay" class="w-full" />
  </ng-template>
  <ng-template carouselSlide>
    <img src="/images/ms-3.avif" alt="amazon-pay" class="w-full" />
  </ng-template>
  <ng-template carouselSlide>
    <img src="/images/ms-4.avif" alt="amazon-pay" class="w-full" />
  </ng-template>
</owl-carousel-o>
